body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

line, rect, circle {
    vector-effect: non-scaling-stroke;
}

text {
    font-family: Courier;
    font-size: 1px;
}
